body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color:powderblue;
}

#dealer-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

#your-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

#hit {
    width: 100px;
    height: 50px;
    font-size: 20px;
    color:blue;
}

#stay {
    width: 100px;
    height: 50px;
    font-size: 20px;
}
#gameStats{
    background-color:aliceblue;
    text-align: center;
}

